* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}
header{
    border: 1px solid rgba(255, 255, 255, 0.397);
}

header img {
  height: 300px;
  margin: 20px auto;
  display: block;
}

.carrossel {
  margin: 30px auto;
  padding: 20px;
  max-width: 600px;
  background: #1a1a1a;
  border-radius: 10px;
}

.carrossel-container {
  display: flex;
  overflow: hidden;
  justify-content: center;
}

.produto {
  display: none;
  flex-direction: column;
  align-items: center;
}

.produto img {
  max-width: 300px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.produto.ativo {
  display: flex;
}

button {
  margin: 10px 5px;
  padding: 10px 15px;
  border: none;
  background-color: #e60000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #cc0000;
}

footer {
  margin-top: 40px;
  font-size: 1.2em;
}
