@charset "UTF-8";
:root {
  --swiper-navigation-color: #003366;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

header {
  background-color: #003366;
  color: white;
  padding: 20px;
  text-align: center;
  font-size: 2em;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

/* Centraliza todo o conteúdo dentro do card */
.produto {
  background-color: white;
  border: 1px solid #ccc;
  color: #333;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.produto img {
  width: 100%;
  max-width: 350px;
  height: auto;
  border-radius: 5px;
  margin-bottom: 15px;
}

.produto h2 {
  font-size: 1.5em;
  margin: 10px 0;
}

.produto ul {
  list-style: none;
  padding: 0;
  font-size: 1.2em;
  margin-bottom: 15px;
}

/* Tabela de medidas */
.tabela-medidas {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 1.2em;
}

.tabela-medidas th,
.tabela-medidas td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}

.tabela-medidas th {
  background-color: #003366;
  color: white;
}

footer {
  text-align: center;
  background-color: #003366;
  color: white;
  padding: 10px;
}

/* Swiper ajustes */
.swiper {
  width: 500px;
  max-width: 90%;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: auto;
}

.swiper-button-prev {
  transform: translateX(-100px);
  color: var(--swiper-navigation-color);
}

.swiper-button-next {
  transform: translateX(100px);
  color: var(--swiper-navigation-color);
}
